/* fix float left*/
.clear {
    clear: both;
}
.text-white{
    color: #ffff !important;
}
.textCenter{
    text-align: center !important;
}

/* Common */
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float:left;
   padding-left: 8px;
   padding-right: 8px;
}
.col-third{
    width: 33.333%;
}
.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}
.mt8{
    margin-top: 8px;
}

.mt16{
    margin-top: 16px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.btn{
    background-color: #000;
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
    border: none;

}

.btn:hover{
    color: #000;
    background-color: #ccc;
}
.pull-right{
    float: right;
}

/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}
#header {
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header .search-btn {
    float: right;
    /* line-height: 46.5px; */
    line-height: 46.5px;
    padding: 0 21px;

}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    /* font-size: 20px; */
 
}

#nav .subnav {
    list-style-type: none;
}

#nav {
   display: inline-block;
}



#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
   
}
#nav .nav-down {
    font-size: 14px;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav li a {

    text-decoration: none ;
    line-height: 46.5px;
    padding: 0 24px;
    font-size: 15px;
 display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a  {
    color: #000;
    background-color: #ccc;
   
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

#nav .subnav > li > a {
   color: #000;
   padding: 0 16px;
   line-height: 38.5px;
}

#slide {
    position: relative;
    min-height: 500px;
    margin-top: 46px;
    background: url(/assets/img/slides/slide_1.jpeg) top center / cover no-repeat;
    /* background-color: #333; */

}

#slide .text-content{
    color: #fff;
    position: absolute;
bottom: 0;
padding-bottom: 47px;
/* left: 50%;
transform: translateX(-50%); */
 /* or  dung with : 100% */
 width: 100%;
text-align: center;
}

#slide .text-heading{
font-weight: 300;
font-size: 24px;

}
#slide .text-decription{
    margin-top: 25px;
    font-size: 15px;


}

#content {

}
#content .content-session{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
}
#content .sesson-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .sesson-subheading{
    text-align: center;
    font-size: 15px;
    margin: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content{
margin: 15px 0;
font-size: 15px;
text-align: justify;
line-height: 1.4;

}
#content .black_color{
    color: #fff;
}
#content .members-list{
    padding: 48px 0;
    /* overflow: hidden; */
}

#content .imgname{
    font-size: 15px;
  
    margin: 15px 0;
}

#content .img{
    width: 154px;
    border-radius: 4px;
}

/* header tour-sesson */
.tour-sesson{
  background-color: #000;  
}

.tour-sesson .list-ticket{
    background-color: #fff;
}
.list-ticket li{
    list-style: none;
font-size: 15px;
padding: 11px 16px;
border-bottom: 1px solid #ddd;
color: #75757575;
}
.list-ticket .sold-out {
    background-color: #f44336;
    color: #ffff;
    padding: 4px 3px;
    margin-left: 16px;
    
}

.list-ticket .quanlity {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    color: #ffff;
    text-align: center;
    /* margin-top: 2px; */
    line-height: 24px;
    margin-top: -2px;
}
/* footer tour-sesson */

/* start place */
.places-list{
  padding: 32px 0
}
.place-item{
 float: left;
 padding: 0 8px;
 width: 33.3333%;
 font-size: 15px;



}
.place-img{
width: 100%;

display: block;
}

.place-img:hover{
    opacity: 0.6;
}
.place-body{
 background-color: #fff;
 padding: 0.15px 16px;
}
.place-header{
    font-size: 15px;
    font-weight: 600;
}

.place-header,
.place-time,
.plaec-description{
    margin: 15px 0;

}
.place-time{
opacity: 0.6;
}
.place-description{
    line-height: 1.4;
}

/* footer place */

/* start modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.js-modal.open{
    display: flex;
}

.modal-container{
   background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative; /* cho button close */
    animation: modalFadeIn ease 0.4s;
}
.modal-header {
    line-height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.modal-close {
    position: absolute; /* cho button close de len cha */
    right: 0;
    top: 0;
    padding: 16px;
    color: #fff;
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
i.modal-iconBag {
    margin-right: 16px;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    margin-bottom: 24px;
}
.label-input{
    display: block;
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    padding: 9px;
}

button#buy{
    width: 100%;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    padding: 16px;
    border: none;
}
button#buy:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-footer{
        padding: 16px;
        text-align: right;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-160px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* start contact */
.contact-content{
    padding: 32px 0px;

}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[ class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
/* finished modal */

/* begin footer */
.img-map{
    width: 100%;   
}

#footer{
    text-align: center;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
}

#footer .socail-lists{
    font-size: 24px;
    margin-bottom: 15px;

}
#footer .socail-lists a{
    text-decoration: none;
    color:rgba(0,0,0, 0.6)
}  
#footer .scription-foot a:hover,
#footer .socail-lists a:hover{
    color:rgba(0,0,0, 0.3)

}
#footer .scription-foot{
    font-size: 15px;
    color:rgba(0,0,0, 0.6)
}
#footer .scription-foot a{
    color:rgba(0,0,0, 0.6)
}

/* end footer */